main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

main > div{
    display: flex;
    /* background-color: green; */
    gap: 5%;
    max-width: 1040px;
    flex-direction: row-reverse;
    padding: 2%;
}

@media (width < 426) {
    main > div{
        flex-direction: column;
    }
}