.todoitem-main{
    padding: 3px;
    width: 70%;
}

.todoitem-main>div{
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    padding: 7px;
    border-radius: 10px;
}

.todoitem-main > div > h5{
    font-size: 0.8em;
    font-weight: 400;
    margin: 2%;
}

.todoitem-main > div > p{
    font-size: 0.5em;
    margin: 2%;
    font-weight: 400;
}

.todoitem-main > div > button{
    font-size: 0.5em;
}