@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,900;1,900&family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary_color: #4720d5;
}

.app{
    font-size: 10vmin;
    height: 100dvh;
    width: 100dvw;
    overflow: auto;
}
